.video-container
    width 75%
    border-right 1px solid #666

    &__player
        min-height 400px
        border 1px solid #666
        margin 10px

.video-preview
    width 22%

    &__title
        margin-left 15px

    & .video-list
        height 370px
        overflow-y auto

.video-thumb
    min-height 120px
    margin 10px 10px
    padding-bottom 10px
    border-bottom 1px solid #666
    cursor pointer

    &__title
        font-size 12px

    &__img
        display block
        margin 20px auto 0

.video-container
.video-preview
    display inline-block
    vertical-align top
