body
    height 100%
    background-color #ccc

    .title
        font-size 32px
        text-align center

    main
        position relative
        width 70vw
        margin 0 auto
        display block
